@use '../mixins';

// ===== Buttons & Forms =====
.button__container {
  display: grid;

  @include mixins.responsive-grid(2, 20px, 6, 24px, 12, 24px);

  justify-content: center;
}

  .btn {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    padding: 14px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    min-width: 278px;
    height: 56px;
    box-shadow: none;

    &:hover {
      box-shadow: 1px 4px 16px 0 #E8E8F066;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 #E8E8F0A3;
    }

    &--primary {
      background-color: #fff;
      color: #1d1d1d;
      grid-column: 1 / -1;

      @include mixins.for-tablet-up {
        grid-column: 2 / 6;
      }

      @include mixins.for-laptop-up {
        grid-column: 5 / 9;
      }

      &:hover {
        background-color: #f0f0f0;
        box-shadow: 1px 4px 16px 0 #E8E8F066;
      }

      &:active {
        box-shadow: 1px 4px 16px 0 #E8E8F0A3;
      }
    }

    &--secondary {
      background-color: #fff;
      color: #1d1d1d;
      width: 100%;

      &:hover {
        background-color: #f0f0f0;
        box-shadow: 1px 4px 16px 0 #E8E8F066;
      }

      &:active {
        box-shadow: 1px 4px 16px 0 #E8E8F0A3;
      }
    }
  }
