@use '../mixins';

// ===== Compare Bikes Section =====
  .compare-bikes {
    padding: 40px 0;

    @include mixins.for-tablet-up {
      padding: 120px 0;
      margin: 0 104px;
    }

    @include mixins.for-laptop-up {
      padding: 80px 0;
      margin: 0;
    }

    &__cards {
      @include mixins.responsive-grid(1, 20px, 6, 24px, 12, 24px);

      justify-items: stretch;
    }
  }

  // ===== Bike Card =====
  .bike-card {
    text-align: left;
    grid-column: #{mixins.$compare-bikes-card-mobile-columns};

    @include mixins.for-tablet-up {
      grid-column: #{mixins.$compare-bikes-card-tablet-columns};
    }

    @include mixins.for-laptop-up {
      grid-column: #{mixins.$compare-bikes-card-desktop-columns};
    }

    &__image {
      width: 100%;
      height: auto;
      margin-bottom: 32px;

      @include mixins.for-laptop-up {
        margin-bottom: 40px;
      }
    }

    &__title {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0;
      margin: 0 0 8px;

      @include mixins.for-tablet-up {
        font-size: 28px;
      }

      @include mixins.for-laptop-up {
        font-size: 32px;
      }
    }

    &__description {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      margin: 0 0 16px;

      @include mixins.for-tablet-up {
        font-size: 16px;
      }

      @include mixins.for-laptop-up {
        font-size: 16px;
      }
    }

    &__price {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0;
      margin: 0;

      @include mixins.for-tablet-up {
        font-size: 28px;
      }

      @include mixins.for-laptop-up {
        font-size: 32px;
      }
    }
  }
