@use '../mixins';

// ===== Details Section =====
  .details {
    padding: 40px 0;

    @include mixins.for-tablet-up {
      padding: 120px 0;
    }

    @include mixins.for-laptop-up {
      padding: 80px 0;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mixins.for-tablet-up {
        gap: 60px;
      }

      @include mixins.for-laptop-up {
        justify-content: center;
        gap: 80px;
      }
    }
  }

  // ===== Feature Card =====
  .feature-card {
    text-align: left;

    &__images {
      display: grid;

      @include mixins.responsive-grid(1, 12px, 2, 24px, 3, 24px);

      gap: 12px;
      margin-bottom: 16px;
      align-items: stretch;
      overflow: hidden;

      @include mixins.for-tablet-up {
        gap: 24px;
        margin-bottom: 24px;

      }

      @include mixins.for-laptop-up {
        gap: 20px;
        margin-bottom: 32px;
      }

      &--reversed {
        @include mixins.for-tablet-up {
          grid-template-columns: 1fr 2fr;
        }
      }
    }

    &__image {
      flex: 1 1 0;
      min-width: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
      display: block;

      @include mixins.for-tablet-up {
        aspect-ratio: auto;
        height: auto;
        object-fit: contain;
      }

      @include mixins.for-laptop-up {
        flex: 1 1 0;
        min-width: 0;
      }
    }

    &__title {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0;
      margin: 0 0 8px;

      @include mixins.for-tablet-up {
        font-size: 28px;
      }

      @include mixins.for-laptop-up {
        font-size: 32px;
      }
    }

    &__description {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      margin: 0;

      @include mixins.for-tablet-up {
        font-size: 16px;
      }

      @include mixins.for-laptop-up {
        font-size: 16px;
      }
    }
  }
