@use '../mixins';

.footer {
  overflow: hidden;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-color: #1d1d1d;

  &__image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 86% center;

    @include mixins.for-tablet-up {
      height: 480px;
      object-position: 86% center;
    }

    @include mixins.for-laptop-up {
      height: 555px;
      object-position: center;
    }
  }
}
