@use '../mixins';

.footer {
  display: flex;
  align-items: center;
  object-fit: contain;

  &__image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    height: 200px;
    object-fit: cover;
    object-position: 86% center;

    @include mixins.for-tablet-up {
      height: 480px;
      object-position: center center;
    }

    @include mixins.for-laptop-up {
      height: 400px;
      object-position: center center;
    }
  }
}
