@use '../mixins';

.header {
  background-image: url(./../images/Cover_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 86% center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  @include mixins.for-tablet-up {
    background-position: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__bottom {
    margin-bottom: 88px;
  }

  &__title {
    width: 279px;
    margin: 0 auto;
    align-self: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;

    @include mixins.for-tablet-up {
      font-size: 64px;

      /* allow title to occupy full width and avoid wrapping */
      width: auto;
      max-width: none;
      white-space: nowrap;
      overflow-wrap: normal;

    }

    @include mixins.for-laptop-up {
      font-size: 64px;
      max-width: 700px;
    }
  }

  &__logo {
    line-height: 0;

    // BEM element for logo image
    &-img {
      display: block;
      height: auto;
      width: auto;
      max-width: 100%;

      // Tablet and up: fixed height
      @include mixins.for-tablet-up {
        height: 56px;
        width: auto;
      }

      // Laptop: keep same or override if needed
      @include mixins.for-laptop-up {
        height: 56px;
      }
    }
  }

}
