.header {
  height: 100vh;
  background-image: url(./../images/Cover_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 86% center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #region Header Top */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

/* #endregion */

/* #region Header Bottom */
.header__bottom {
  padding: 0 20px;
  margin-bottom: 88px;
}

.header__title {
  width: 279px;
  margin: 0 auto;

  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
}

.header__logo {
  line-height: 0;
}

/* #endregion */
