@use '../mixins';

.header__icons {
  display: flex;
  gap: 24px;

  @include mixins.for-tablet-up {
    gap: 32px;
  }

  @include mixins.for-laptop-up {
    gap: 32px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;

  @include mixins.for-tablet-up {
    width: 32px;
    height: 32px;
  }

  @include mixins.for-laptop-up {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(./../icons/Icon-Phone-call.svg);
  }

  &--menu {
    background-image: url(./../icons/Icon-Burger-menu.svg);
  }

  &--close {
    background-image: url(./../icons/Icon-Close.svg);
  }
}
