.header__icons {
  display: flex;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--phone {
  background-image: url(./../icons/Icon-Phone-call.svg);
}

.icon--menu {
  background-image: url(./../icons/Icon-Burger-menu.svg);
}

.icon--close {
  background-image: url(./../icons/Icon-Close.svg);
}
