@use '../mixins';

.header__icons {
  display: flex;
  gap: 24px;

  @include mixins.for-tablet-up {
    gap: 32px;
  }

  @include mixins.for-laptop-up {
    gap: 32px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;

  @include mixins.for-tablet-up {
    width: 32px;
    height: 32px;
  }

  @include mixins.for-laptop-up {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(./../icons/Icon-Phone-call.svg);

    &--wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

    }

    &--number {
      align-self: center;
      color: #FFF;
      font-family: inherit;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      vertical-align: middle;
      text-transform: uppercase;
    }
  }

  &--menu {
    background-image: url(./../icons/Icon-Burger-menu.svg);
  }

  &--close {
    background-image: url(./../icons/Icon-Close.svg);
  }
}
