@use '../mixins';

.main {
  background-color: #1d1d1d;
  color: #fff;

  .container {
    max-width: 320px;

    @include mixins.for-tablet-up {
      max-width: none;
    }

    @include mixins.for-laptop-up {
      max-width: 1260px;
    }
  }
}
