.menu {
  background-color: #c2c2c2;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  margin-bottom: 24px;
}

.menu__bottom {
  padding: 0 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #1d1d1d;
}

.menu__footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__phone-number {
  font-weight: 600;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__book-ride {
  font-weight: 600;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: #1d1d1d 1px solid;
}
