@use '../mixins';

.menu {
  background-color: #c2c2c2;
  font-weight: 700;
  text-transform: uppercase;

  &__bottom {
    padding: 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #1d1d1d;

    @include mixins.for-tablet-up {
      padding: 0 0 60px;
    }

    @include mixins.for-laptop-up {
      padding: 24px 0 80px;
    }
  }

  &__footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__phone-number {
    font-weight: 600;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__book-ride {
    font-weight: 600;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: #1d1d1d 1px solid;
  }
}
