.nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
