@use '../mixins';

.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    padding-bottom: 8px;
    width: fit-content;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: color 0.3s ease;

    &:hover {
      color: #000;
      border-bottom: 1px solid #1D1D1D;
    }
  }
}
