.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
