.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}
