@use '../mixins';

.section-title {
  @include mixins.responsive-grid(1, 20px, 6, 24px, 12, 24px);

  &__content {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 48px;
    grid-column: #{mixins.$section-title-mobile-columns};

    @include mixins.for-tablet-up {
      font-size: 48px;
      grid-column: #{mixins.$section-title-tablet-columns};
    }

    @include mixins.for-laptop-up {
      font-size: 64px;
      grid-column: #{mixins.$section-title-desktop-columns};
    }

    &--contact {
      @include mixins.for-laptop-up {
        grid-column: #{mixins.$section-title-desktop-columns};
        font-size: 48px;
        font-weight: 600;
      }
    }
  }
}
