/* #region Base */
.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region Header */
.header {
  height: 100vh;
  background-image: url(./../images/Cover_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 86% center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #region Header Top */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

/* #endregion */

/* #region Header Bottom */
.header__bottom {
  padding: 0 20px;
  margin-bottom: 88px;
}

.header__title {
  width: 279px;
  margin: 0 auto;

  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
}

.header__logo {
  line-height: 0;
}

/* #endregion */

/* #endregion */

/* #region Icons */

.header__icons {
  display: flex;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--phone {
  background-image: url(./../icons/Icon-Phone-call.svg);
}

.icon--menu {
  background-image: url(./../icons/Icon-Burger-menu.svg);
}

.icon--close {
  background-image: url(./../icons/Icon-Close.svg);
}

/* #endregion */

/* #region menu */
.menu {
  background-color: #c2c2c2;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  margin-bottom: 24px;
}

.menu__bottom {
  padding: 0 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #1d1d1d;
}

.menu__footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* #endregion */

/* #region nav */
.menu__phone-number {
  font-weight: 600;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__book-ride {
  font-weight: 600;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: #1d1d1d 1px solid;
}

.nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */
