@use './mixins';
@use './blocks/page';
@use './blocks/icons';
@use './blocks/header';
@use './blocks/menu';
@use './blocks/nav';
@use './blocks/main';
@use './blocks/footer';
@use './blocks/move-free';
@use './blocks/compare-bikes';
@use './blocks/details';
@use './blocks/buttons';
@use './blocks/contact-info';
@use './blocks/section-title';


